<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/png" sizes="16x16" href="./media/favicon.ico">
    <meta charset="utf-8">
    <title>My Nanodegree Travel App</title>
  </head>
  <body>
    <main>
      <div class="header">
        <img class="mylogo" src="./media/Dog_01.jpg" alt="My Dog Logo">
        <div class="title">Trip Planner for Udacity Nano Degree Capstone</div>
      </div>
      <div class="search-bar">
        <div class="input text">
          <label for="input-location">Destination</label>
          <input id="location-input" type="text" name="input-location" value="" placeholder="A location ..">
        </div>
        <div class="input date">
          <label for="input-date-start">Trip Start Date</label>
          <input id="date-start-input" type="date" name="input-date-start" value="">
        </div>
        <div class="input date">
          <label for="input-date-end">Trip End Date</label>
          <input id="date-end-input" type="date" name="input-date-end" value=""><br>
        </div>
        <input class="button" id="change-location-button" type="submit" name="" value="Change Location">
        <input class="button" id="clear-location-button" type="button" name="" value="Clear Trip">
      </div>
      <div class="travel-photo" id="pixabay-photo"></div>
      <div id="travel-summary" class="travel-summary"></div>
      <div id="forecast-type" class="travel-summary"></div>
      <div id="forecast-details" class="forecast-details"></div>
    </main>
    <footer>
      <div id="myfooter"></div>
    </footer>
  </body>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    };
  </script>
</html>
