<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8">
    <title>Jays Nano Travel App</title>
  </head>
  <body>
  <header>
    <div class=search_bar>
      <img src="./media/Dog_01.jpg" alt="My Dog Logo" width="150" height="150">
      <input id="location_input" type="text" name="input_location" value="">
      <input id="date_start" type="text" name="input_date_start" value="">
      <input id="date_end" type="text" name="input_date_end" value="">
      <input type="submit" name="" value="submit" onclick="return Client.locationChange(event)">
    </div>
  </header>

  <main>
    <div>
      <div id="pixabay_photo">
        <img src="https://cdn.pixabay.com/photo/2015/07/11/23/02/plane-841441_960_720.jpg" alt="Pixabay Photo" width="500" height="500">
      </div>
      <img src="./media/pixabay_logo.svg" alt="Photo by Pixabay" width="75" height="75">
    </div>
    <section>
      <div id=travel_details>
        Travel Details Here
      </div>
    </section>
  </main>
    <footer>
      <div id="myFooter">Last request: N/A</div>
    </footer>
    <!-- <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
       </script> -->
  </body>
</html>
