/* For tablet - aka mid sized */
@media(min-width:600px) and (max-width: 900px){
  body{
    background: linear-gradient(90deg, #55efcb 0%,#0c3b70 0%, #55efcb 0%,#5bcbff 100%);
  }

  .forecast-details{
    grid-area: content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .forecast {
    border: 3px solid rgb(98, 6, 184);
    background: rgb(197, 224, 233);
    color: red;
    border-radius: 1rem;
    padding: 1rem;
    margin: 5px;
    width: 300px;
  }
}